# me specific ignores
performance_regression.log

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Code coverage files
*.gcno
*.gcda

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app